/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/


body {
    /*background-color: black;*/
    /*margin: 20px;*/
    font-family: Arial, sans-serif;
}
ol, ul {list-style: none;}
.list-group-item{padding:7px 10px;}

.courts-wrapper{
    height: 200px;
    width: 100%
}
.courts-wrapper H1, .courts-wrapper H2, .courts-wrapper H3, .courts-wrapper H4{ margin: 10px}

.court{
    float: left;
    height: 100%;
    margin: 5px;
    padding: 1%;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 2px solid #686868;
    /*cursor: pointer;*/
}
.court span{
    color: #c7b22b;
    font-size: 14px;
}
.court A {
    display: block;
    width: 100%;
    height: 100%;
    /*border: 1px solid lightskyblue;*/
    color: #262626;
}
.court A:hover {
    text-decoration: none;
}


/*******************************************/
.table-wrapper {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.img_box {
    width: 100%;
    text-align: left;
    /*margin-top: 10px;*/
    /*margin-bottom: 30px;*/
    /*margin-left: 15px;*/
    padding: 0 0 30px 20px;
}

H2 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    color: #daab73;
    /*font-family: Helvetica;*/
    /*transform:scale(2,1);*/
    /*-webkit-transform:scale(2,1);*/
    /*font-family: 'Tagesschrift', 'Georgia', serif;*/
    background-color: #504846;
    padding: 10px 0;
}


table {
    width: 100%;
    height: 100%;
    border: 2px #cbcbcb solid;
    /*border: none;*/
    /*border-collapse:inherit;*/
    background: #f6f6f6;
}
/*tr, td {border: none}*/

td {padding: 37px 10px}

tr.home-row, tr.away-row{
    border-bottom: solid 2px #cbcbcb;
    /*padding: 80px;*/
    font-size: 90px;
    background: #f6f6f6;
}

tr.match-info-row{
    background: #e2e2e2;
    height: 14px;
    font-size: 10px;
    /*line-height: 16px;*/
    margin: 0;
    padding: 3px;
    border: none;
}
tr.match-info-row TD {
    margin: 0;
    padding: 2px;
}

td.game-number {
    width: 1%;
    background: #9A9A9A;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    /*line-height: 88px;*/
    border: none;
    font-size: 20%;
    padding: 0;
    margin: 0;
}

.spacer1 {
    width: 10px;
}

td.player-flag{
    text-align: left;
    width: 95px;
    border-left: none !important;
    border-right: none !important;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
td.player-flag IMG {
    width: 90px;
    /*border: 1px solid #122b40;*/
    padding: 0;
    margin: 0;
}
.player-name{
    font-weight: bold;
    /*width: 80%;*/
    border-left: none;
    border-right: none;
}
.player-name SPAN{
    font-size: 60%;
    font-weight: normal;
    padding: 0 10px;
    color: #8a8a8a;
}
td.serve-indicator{
    text-align: center;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    line-height: 10px;
    width: 25px;
}

#main-content > div.table-wrapper > table > tbody > tr.away-row > td.serve-indicator > span,
.serve-indicator SPAN {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ff8100 !important;
    background-color: #ff8100 !important;
    display: inline-block;

}

td.set1-result, td.set2-result,
td.set3-result, td.set4-result,
td.set53-result, td.game-result{
    width: 120px;
    text-align: center;
    border-left: 6px solid #cbcbcb;
    border-right: 6px solid #cbcbcb;
    padding: 0;
    margin: 0;
    font-size: 93px;
}
td.game-result{
    width: 145px;
}

.game-result{
    background: #FFD7AD;
}

#message H2{
    margin-top: 15%;
    padding: 20px 0;
    line-height: 110px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #616161;
    border-color: #373737;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary{
    color: #ffffff;
    background-color: #4f4f4f;
    border-color: #232323;
}