<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">


    <title>{% block html-title %}Scoreboard{% end %}</title>
    {% block html-head %}{% end %}

</head>

<body style="background: #ffffff none;">

<div id="main-content">
    {% include '../includes/i_header.html' %}

    {% block content %} {% end %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
{#<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>#}
<script src="/static/js/jquery.color.js" ></script>
<script src="/static/js/bootstrap-switch.js" ></script>
<script src="http://listjs.com/assets/javascripts/list.min.js"></script>



<script src="/static/js/events.js"></script>
</body>

</html>