<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/thirdparty/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">


    <title>{% block html-title %}Scoreboard{% end %}</title>
    {% block html-head %}{% end %}

</head>

<body>

<div id="main-content">
    {% block content %} {% end %}
</div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
{#<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>#}
<script src="/static/js/jquery.color.js" ></script>
<script src="/static/js/bootstrap-switch.js" ></script>

{#<script src="/static/js/crop/underscore.js"></script>#}
{#<script src="/static/js/crop/jquery.facedetection.min.js"></script>#}
{#<script src="/static/js/crop/smartcrop.js"></script>#}

<script src="/static/js/project.js"></script>


</html>