@font-face {
    font-family: 'PFDindisplayPro-bold';
    src: url('/static/fonts/PFDindisplayPro-bold.ttf');
}
@font-face {
    font-family: "PFDindisplayPro-regular";
    src: url('/static/fonts/PFDindisplayPro-regular.ttf')
}

body {
    background: #0246b5 url("/static/img/bg.jpg");
    /*margin: 20px;*/
    /*font-family: Arial, sans-serif;*/
    /*font-family: "PFDindisplayPro-bold";*/
    font-family: "PFDindisplayPro-regular";
}
ol, ul {list-style: none;}
.list-group-item{padding:7px 10px;}
UL.list-group{margin-bottom: 5px;}

.courts-wrapper{
    height: 200px;
    width: 100%
}
.courts-wrapper H1, .courts-wrapper H2, .courts-wrapper H3, .courts-wrapper H4{ margin: 10px}

.court{
    float: left;
    height: 100%;
    margin: 5px;
    padding: 1%;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 2px solid #686868;
    /*cursor: pointer;*/
}
.court span{
    color: #c7b22b;
    font-size: 14px;
}
.court A {
    display: block;
    width: 100%;
    height: 100%;
    /*border: 1px solid lightskyblue;*/
    color: #262626;
}
.court A:hover {
    text-decoration: none;
}


/*******************************************/
.table-wrapper {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

H2 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    color: #daab73;
    /*font-family: Helvetica;*/
    /*transform:scale(2,1);*/
    /*-webkit-transform:scale(2,1);*/
    /*font-family: 'Tagesschrift', 'Georgia', serif;*/
    background-color: #504846;
    padding: 10px 0;
}

/*td {padding: 37px 10px}*/

tr.home-row, tr.away-row{
    border-bottom: solid 2px #cbcbcb;
    /*padding: 80px;*/
    /*font-size: 90px;*/
    font-size: 20px;
    background: #f6f6f6;
}

tr.match-info-row{
    background: #e2e2e2;
    height: 14px;
    font-size: 10px;
    /*line-height: 16px;*/
    margin: 0;
    padding: 3px;
    border: none;
}
tr.match-info-row TD {
    margin: 0;
    padding: 2px;
}

td.game-number {
    width: 1%;
    background: #9A9A9A;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border: none;
    font-size: 20%;
    padding: 0;
    margin: 0;
}

.spacer1 {
    width: 10px;
}

td.serve-indicator{
    text-align: center;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 10px;
    width: 25px;
}

#main-content > div.table-wrapper > table > tbody > tr.away-row > td.serve-indicator > span,
.serve-indicator SPAN {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff8100 !important;
    background-color: #ff8100 !important;
    display: inline-block;

}

#message H2{
    margin-top: 15%;
    padding: 20px 0;
    line-height: 110px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #616161;
    border-color: #373737;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary{
    color: #ffffff;
    background-color: #4f4f4f;
    border-color: #232323;
}


.n_table {
    width: 97%;
    margin: 0 auto;
}
.n_home {width: 35%; vertical-align: top;}
.n_away {width: 35%; vertical-align: top;}
.n_score {width: 20%; vertical-align: top;}

.player-flag{
    width: 25px;
}

.n_table TR.home-row, .n_table TR.away-row{
    font-size: 45px !important;
}
.events_table {border: none; background: none}
.events_table TD {padding: 2px}

.p-list-elem {margin-right: 10px;}
.bg-success {
    background-color: #dff0d8 !important;
}
.pagination li {
    display:inline-block;
    padding:5px;
}

.m_t_away TD {
    text-align: right;
}
TR.img-row {
    width: 100%;
    height: 150px;
}
TR.img-row TD {
    padding: 20px 20px 0 20px;
    width: 100%;
}
TR.img-row TD IMG{
    /*width: 35%;*/
    height: 200px;
    padding: 0;
    margin: 0;
}
TD.player-name{
    font-weight: bold;
    padding: 0 20px 0 10px;
    border-left: none;
    border-right: none;
    font-size: 30px;
    border-left: none;
    border-right: none;
    /*vertical-align: middle;*/
    vertical-align: top;
}
.player-name SPAN{
    font-size: 16px;
    font-weight: normal;
    padding: 5px 5px;
    color: #8a8a8a;
}

table {
    border: none !important;
    width: 100%;
    /*height: 100%;*/
    /*border: 2px #cbcbcb solid;*/
    background: #e1e5e8;
}
/*TD.set1-result, TD.set2-result, TD.set3-result {*/
    /*width: 100px;*/
/*}*/
td.n_score td.set-name {
    text-align: center;
    width: 20px;
    font-size: 25px;
    color: #979797;
}
td.game-result,
td.set1-result.home,
td.set2-result.home,
td.set3-result.home,
td.set1-result.away,
td.set2-result.away,
td.set3-result.away{
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: none !important;*/
    font-family: "PFDindisplayPro-bold";
    border: 15px solid #e1e5e8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #e3eed5;
    font-size: 45px;
    text-align: center;
    width: 125px;
    min-width:80px;
}
TD.game-result {
    background-color: #e0b124;
    /*color: #fcfcfc;*/
    color: #0e0e0e;
}
TD.n_score {
    /*border: none !important;*/
    /*border: 2px solid silver;*/
    vertical-align: top;
}



.head-banners {
    background: none;
}
TD.head-logo {
    width: 200px;
}
.img_box {
    /*width: 100%;*/
    width: 200px;
    text-align: left;
    /*margin-top: 10px;*/
    /*margin-bottom: 30px;*/
    /*margin-left: 15px;*/
    padding: 0 0 30px 20px;
}
TD.head-text {
    /*width: 400px;*/
    /*font-size: 40px;*/
    font-weight: bold;
    color: #ffffff;
}
TD.head-text H3{
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
TD.head-text p{
    font-size: 28px;
    text-transform: uppercase;
}
TD.head-timer {
    /*width: 250px;*/
}
TD.head-timer DIV {
    width: 340px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #c4c4c4;
}

.footer-ban {
    width: 97%;
    background-color: #e1e5e8;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
}
.footer-ban TD {
    padding: 30px 0;
}