body {
    background-color: #2a2625;
    color: #ffffff;
}

table {
    background: #2a2625;
    border: none !important;
}

tr.home-row, tr.away-row{
    background: #2a2625;
    border-bottom: none;
}
tr.home-row {
    border-bottom: 10px solid #2a2625;
}

tr.match-info-row {
    background: #2a2625;
}

td.game-number {
    background: #2a2625;
    /*color: #867571;*/
    color: #2a2625;
}

.player-name SPAN{
    color: #979797;
}

/*#main-content > div.table-wrapper > table > tbody > tr.away-row > td.serve-indicator > span,*/
/*.serve-indicator SPAN {*/
    /*background: #522a00 !important;*/
    /*background-color: #522a00 !important;*/
/*}*/

.game-result{
    background: #735c4f;
    color: #fdffcd;
    border: none !important;
}

table, tr.home-row, tr.away-row{
    /*border-color:#35302e;*/
}
td.set1-result, td.set2-result,
td.set3-result, td.set4-result,
td.set53-result{
    border-color:#2a2625;
    background: #4d4542;
    /*border: none !important;*/
    /*border-left: 2px solid #cbcbcb;*/
    /*border-right: 2px solid #cbcbcb;*/
}