body, table, tr.home-row, tr.away-row, tr.match-info-row, td.game-number
{
    background-color: #f4f4f4;
}
body {
    color: #2a2625;
}

table {
    border: none !important;
}

tr.home-row, tr.away-row{
    border-bottom: none;
}
tr.home-row {
    border-bottom: 10px solid #f4f4f4;
}

tr.match-info-row {}
td.game-number {
    color: #f4f4f4;
}

.player-name SPAN{
    color: #979797;
}

.game-result{
    background: #f6f3da;
    color: #815e00;
    border: none !important;
}

table, tr.home-row, tr.away-row{
    /*border-color:#35302e;*/
}
td.set1-result, td.set2-result,
td.set3-result, td.set4-result,
td.set53-result{
    border-color:#f4f4f4;
    background: #e0e0e0;
    /*border: none !important;*/
    /*border-left: 2px solid #cbcbcb;*/
    /*border-right: 2px solid #cbcbcb;*/
}