﻿{% extends "../layouts/base.html" %}
{% block content %}

<div class="container">
    <div class="starter-template">
        <h3>Страница игрока</h3>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">

            {% if player %}
                {% if msg %}
                    <h3>{{ msg }}</h3>
                {% end %}

                <h4>Турниры игрока</h4>
                <ul class="list-group">
                    {% for tour in tours %}
                        <li class="list-group-item">{{ tour['uid'] }} - {{ tour['name'] }}
                            <a href="/settings/players/{{ tour['uid'] }}/">{{ tour['itf_code'] }}</a></li>
                    {% end %}
                </ul>

                <h4>Информация об игроке</h4>
                <form method="post" enctype="multipart/form-data" action="/settings/profile/{{ player.uid }}">
                    <ul class="list-group">
                    <li class="list-group-item">ID = {{ player.uid }}</li>
                    <li class="list-group-item">ITF_ID = {{ player.itf_id }}</li>
                    <li class="list-group-item">Имя = <input type="text" name="player_name" value="{{ player.name }}"></li>
                    <li class="list-group-item">Имя в ITF = {{ player.itf_name }}</li>
                    <li class="list-group-item">Livescore ID =
                        <input type="text" name="circ_id" value="{{ player.circ_id }}"></li>

                    {% if check_img(player.itf_id) %}
                        <img src="/static/uploads/{{ player.itf_id }}.jpg">
                    {% else %}
                        <img src="/static/img/filler.jpg">
                    {% end %}<br>
                    File: <input type="file" name="filearg" /><br>
                    <button type="submit">Сохранить</button>
                </form>
            {% else %}
                <h2>Игрок не выбран.</h2>
            {% end %}


        </div>
    </div>
</div>


{% end %}
