﻿{% extends "../layouts/base.html" %}

{% block content %}
<div class="container">
    <div class="starter-template">
        <h3>Страница событий</h3>
    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-md-6">
                <a class="btn btn-success btn-sm" href="/settings/events/">Все</a>
                <a class="btn btn-primary btn-sm" href="/settings/events/new/">Активные</a>

                {% for k,v in courts.items() %}
                    <p><strong>{{ v['court_name'] }}</strong></p>
                    <ul class="list-group">

                        {% for event in v['events'] %}
                            <li class="list-group-item">
                                <p class="bg-success">{{ event['match']['param2'] }} - {{ event['status']['matchstatus'] }} ~
                                {{ event['status']['name'] }} ({{ event['status']['id'] }})</p>
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <table class="events_table"><tr>
                                            <td rowspan="3" style="width:50px;">Home</td><td></td></tr>

                                            {% for player in event['team_home'] %}
                                                <tr><td></td><td>
                                                {% if player['in_base'] %}
                                                    <a href="/settings/profile/{{ player['in_base']['uid'] }}">
                                                        {{ player['name'] }}
                                                        {% if check_img(player['in_base']['itf_id']) %}
                                                            <img src="/static/uploads/{{ player['in_base']['itf_id'] }}.jpg" height="25">
                                                        {% end %}
                                                    </a>
                                                    <div class="pull-right">
                                                        <input class="btn btn-success btn-xs events-profile" type="button"
                                                           value="profile" data-player-id="{{ player['live_id'] }}"
                                                           data-tour-id="{{ tour_id }}">
                                                {% else %}
                                                    {{ player['name'] }}
                                                    <div class="pull-right">
                                                {% end %}
                                                <input class="btn btn-primary btn-xs events-link" type="button"
                                                       value="link" data-player-id="{{ player['live_id'] }}"
                                                       data-tour-id="{{ tour_id }}" data-player-name="{{ player['name'] }}">
                                                </div></td></tr>
                                            {% end %}

                                        </table>
                                    </li>

                                    <li class="list-group-item">
                                        <table class="events_table"><tr>
                                            <td rowspan="3" style="width:50px;">Away</td><td></td></tr>

                                            {% for player in event['team_away'] %}
                                                <tr><td></td><td>
                                                {% if player['in_base'] %}
                                                    <a href="/settings/profile/{{ player['in_base']['uid'] }}">
                                                        {{ player['name'] }}
                                                        {% if check_img(player['in_base']['itf_id']) %}
                                                            <img src="/static/uploads/{{ player['in_base']['itf_id'] }}.jpg" height="25">
                                                        {% end %}
                                                    </a>
                                                    <div class="pull-right">
                                                        <input class="btn btn-success btn-xs events-profile" type="button"
                                                           value="profile" data-player-id="{{ player['live_id'] }}"
                                                           data-tour-id="{{ tour_id }}">
                                                {% else %}
                                                    {{ player['name'] }}
                                                    <div class="pull-right">
                                                {% end %}
                                                <input class="btn btn-primary btn-xs events-link" type="button"
                                                       value="link" data-player-id="{{ player['live_id'] }}"
                                                       data-tour-id="{{ tour_id }}" data-player-name="{{ player['name'] }}">
                                                </div></td></tr>
                                            {% end %}

                                        </table>
                                    </li>
                                </ul>
                            </li>
                        {% end %}

                    </ul>
            {% end %}
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>

            <div class="modal-body">
                <div id="users">
                    <input class="search" placeholder="Search" />
                    <button class="sort" data-sort="name">Sort by name</button>

                    <ul class="list-group modal-list list">
                        <li class="list-group-item">
                            <input class="btn btn-primary btn-xs p-list-elem" type="button" value="+">
                        </li>
                    </ul>
{#                    <ul class="pagination"></ul>#}
                </div>
            </div>

{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
{#            </div>#}
        </div>
    </div>
</div>

{% end %}
