﻿{% extends "../layouts/base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6">

            {% try %}
                {% if tour_id %}
                    <h3>Выберите игрока</h3>

                    <ul class="list-group">
                        {% for player in list %}
                            <li class="list-group-item {% if player['circ_id'] %}bg-success{% end %}">{{ player['uid'] }} -
                                <a href="/settings/profile/{{ player['uid'] }}">{{ player['name'] }}</a> ({{ player['itf_id'] }})
                                    {% if check_img(player['itf_id']) %}
                                        <img src="/static/uploads/{{ player['itf_id'] }}.jpg" height="25">
                                    {% else %}
{#                                        <img src="/static/img/filler.jpg" height="15" width="15">#}
                                    {% end %}

{#                                <div class="btn-group pull-right" role="group" aria-label="...">#}
{#                                    <button type="button" class="btn btn-xs btn-default">Left</button>#}
{#                                    <button type="button" class="btn btn-xs btn-default">Middle</button>#}
{#                                    <button type="button" class="btn btn-xs btn-default">Right</button>#}
{#                                </div>#}
                            </li>
                        {% end %}
                    </ul>
                {% end %}


            {% except %}
{#            {{ list }}#}
                <h3>Выберите турнир</h3>

{#                {% for tour in list %}#}
{#                    {% if tour['itf_code'] == settings['tour_id'] %}#}
                        <a href="/settings/players/add/{{ settings['tour_id'] }}/" class="btn btn-sm btn-primary">Добавить текущий турнир</a><br>
{#                    {% end %}#}
{#                {% end %}#}
                <ul class="list-group">
                    {% for tour in list %}
                        {% if tour['itf_code'] == settings['tour_id'] %}
                            <li class="list-group-item bg-success">
                        {% else %}
                            <li class="list-group-item">
                        {% end %}
                            {{ tour['uid'] }} - {{ tour['name'] }}
                            <a href="/settings/players/{{ tour['uid'] }}/">{{ tour['itf_code'] }}</a></li>

                    {% end %}
                </ul>
            {% end %}

        </div>
    </div>
</div>


{% end %}
