﻿{% extends "../layouts/base.html" %}
{% block content %}

<div class="container">

    <div class="starter-template">
        <h3>Список кортов</h3>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">

            {% try %}
                {% if msg %}
                    <h3 class="text-info">{{ msg }}</h3>
{#                    <h3>Вы точно хотите присвоить корту {{ court_name }} алиас {{ court_alias }}#}
{#                        <a class="btn btn-info btn-sm" href="/settings/xml/{{ court_alias }}/">Да</a>#}
{#                    </h3>#}
                {% end %}

                    <ul class="list-group">
                        {% for court in courts %}
                            <li class="list-group-item">
                                {{ court['court_name'] }}
                                <form action="/settings/xml/" method="post" class="form-inline">
                                    <input type="hidden" name="court_uid" value="{{ court['uid'] }}">
                                    <input type="hidden" name="court_id" value="{{ court['court_id'] }}">
                                    <a class="btn btn-info btn-sm" href="/settings/xml/{{ court['court_id'] }}/">Link</a>

                                    <div class="form-group">
                                    {% if court['court_id'] == int(ecourt_id) %}
                                        <input type="text" name="court_alias" class="form-control input-sm" value="{{ ecourt_alias }}">
                                        <a class="btn btn-danger btn-sm"
                                            href="/settings/xml/resetalias/{{ ecourt_id }}/{{ ecourt_alias }}/">
                                            Всё равно сменить</a>
                                    {% else %}
                                        <input type="text" name="court_alias" class="form-control input-sm" value="">
{#                                        <button type="submit" class="btn btn-default btn-sm">Save alias</button>#}
                                    {% end %}
                                    </div>


                                    {% if court.get('alias') %}
                                        <a class="btn btn-primary btn-sm" href="/xml/{{ court['alias'] }}/">Alias</a>
                                    {% end %}
                                </form>
                            </li>
                        {% end %}
                    </ul>

            {% except %}


                <ul class="list-group">
                    {% for court in courts %}
                        <li class="list-group-item">
                            {{ court['court_name'] }}
                            <form action="/settings/xml/" method="post" class="form-inline">
                                <input type="hidden" name="court_uid" value="{{ court['uid'] }}">
                                <input type="hidden" name="court_id" value="{{ court['court_id'] }}">
                                <a class="btn btn-info btn-sm" href="/settings/xml/{{ court['court_id'] }}/">Link</a>

                                <div class="form-group">
                                {% if court.get('alias') %}
                                    <input type="text" name="court_alias" class="form-control input-sm" value="{{ court['alias'] }}">
                                {% else %}
                                    <input type="text" name="court_alias" class="form-control input-sm" value="">
                                {% end %}
                                </div>
                                 <button type="submit" class="btn btn-default btn-sm">Save alias</button>

                                {% if court.get('alias') %}
                                    <a class="btn btn-primary btn-sm" href="/xml/{{ court['alias'] }}/">Alias</a>
                                {% end %}
                            </form>
                        </li>
                    {% end %}
                </ul>

            {% end %}

        </div>


    </div>
</div>


{% end %}
