﻿{% extends "../layouts/base.html" %}
{% block content %}

<div class="container">

    <div class="starter-template">
        <h3>Settings page</h3>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-5">

            <a href="/courts/" class="btn btn-primary">Настроить корт</a><br>
            <p class="help-block">Нажав на кнопку вы перейдёте к выбору корта.</p>
            <br>

            <form action="/settings " method="post">
                <div class="form-group">
                    <label for="tour_id">ID турнира</label>
                    <input type="text" class="form-control" id="tour_id" name="tour_id" placeholder="M-FU-HUN-02A-2016" value="{{ tour_id }}">
{#                    <p class="help-block"><a target="_blank" id="zzz" href="http://itfprocircuit.tennis-live-scores.com/?tid={{ tour_id }}">link</a></p>#}
                </div>

                <div class="form-group">
                    <label for="court_id">ID корта</label>
                    <input type="text" class="form-control" id="court_id" name="court_id" placeholder="12345" value="{{ court_id }}">
                </div>
                <div class="form-group">
                    <label for="screen_text">Текст заставки</label>
                    <input type="text" class="form-control" id="screen_text" name="screen_text" placeholder="12345" value="{{ screen_text }}">
                </div>


                <div class="form-group">
                    <label for="screenSwitch" style="padding-right: 20px;">Включение заставки</label>
                    <input type="checkbox" id="screenSwitch" name="screenSwitch" {% if screen_status %}checked{% end %}>
                </div>

                <div class="form-group">
                    <label for="color_switch" style="padding-right: 20px;">Переключение цвета</label>
                    <input type="checkbox" id="color_switch" name="color_switch" {% if color_status %}checked{% end %}>
                </div>

                <div class="form-group">
                    <label for="board_reload" style="padding-right: 20px;">Перезагрузка табло</label>
                    <input type="checkbox" id="board_reload" name="board_reload">
                </div>


                <div class="form-group">
                    <label for="banner_img">Файл для баннера</label>
                    <input type="file" id="banner_img" name="banner_img">
                    <p class="help-block">Заменяет файл для баннера</p>

                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>

        </div>


    </div>
</div>


{% end %}
