﻿{% extends "../layouts/base.html" %}
{% block content %}


{% if not tour %}
<div class="container">
    <div class="row">
        <div class="col-md-5">

            <form action="/courts/" method="get">
                <div class="form-group">
                    <label for="tour">ID турнира</label>
                    <input type="text" class="form-control" id="tour" name="tour" placeholder="M-FU-HUN-02A-2016">
                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>

        </div>
    </div>
</div>

{% else %}

<div class="courts-wrapper">
    <h2>Выберите корт, он будет сохранён и использованн в качестве основного</h2>
    {% for i in courts %}
        <div class="court" style="width: {{ 94/len(courts) }}%;">
            <a href="/courts/{{ i['court_id'] }}/">
            <p>{{ i['court_name'] }}</p>
{#            <h3>{{ i['s_name'] }} ({{ i['s_id'] }})</h3>#}
{#            <h4>{{ i['p_home_name'] }} <span>[{{ i['p_home_c_sname'] }}]</span></h4>#}
{#            <h4>{{ i['p_away_name'] }} <span>[{{ i['p_away_c_sname'] }}]</span></h4>#}
            </a>
        </div>
    {% end %}
</div>

{% end %}

{% end %}
