<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ reverse_url('settings') }}">App &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/settings/events/">События</a></li>
                <li><a href="/settings/players/">Игроки</a></li>
                <li><a href="/settings/xml/">XML</a></li>
                <li><a href="/">Scoreboard</a></li>
            </ul>

            <div class="navbar navbar-nav pull-right" style="color: #d5d5d5;">
                <p>{{ settings.get('tour_id', '') }}<br>
                {{ settings.get('tour_name', '') }}</p>
            </div>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>