﻿{% extends "layouts/base.html" %}
{% block content %}


<div class="courts-wrapper">
    {% for i in courts %}
        <div class="court" style="width: {{ 94/len(courts) }}%;">
            <a href="/scoreboard/{{ i['court_id'] }}/">
            <h2>{{ i['court_name'] }}</h2>
            <h3>{{ i['s_name'] }} ({{ i['s_id'] }})</h3>
            <h4>{{ i['p_home_name'] }} <span>[{{ i['p_home_c_sname'] }}]</span></h4>
            <h4>{{ i['p_away_name'] }} <span>[{{ i['p_away_c_sname'] }}]</span></h4>
            </a>
        </div>
    {% end %}
</div>




{% end %}
