﻿{% extends "layouts/l_scoreboard.html" %}

{% block html-head %}

    {% if color_status %}
        <link rel="stylesheet" href="/static/css/dark.css">
    {% else %}
        <link rel="stylesheet" href="/static/css/white.css">
    {% end %}

{% end %}

{% block content %}

{% if match %}

<div class="table-wrapper" {% if screen_status == 'on' %}style="display: none;"{% end %}>

    <div class="img_box">
        <img src="/static/img/logo3.png" style="">
    </div>


    {#<table class="table table-bordered">#}
    <table>
        <tbody>

        <tr class="home-row">
            <td class="game-number" rowspan="3" style="vertical-align:middle">1</td>
            <td class="spacer1"></td>

            {% if match['team_home'].get('children') %}
                <td class="player-flag">
                {% for player in match['team_home'].get('children') %}
                        <img class="" src="https://ls.sportradar.com/ls/crest/big/{{ player['cc']['a2'] }}.png" alt="">
                {% end %}
                </td>
                <td class="player-name">
                {% for player in match['team_home'].get('children') %}
                    {{ player['name'] }} <span>{{ player['cc']['ioc'] }}</span><br>
                {% end %}
                </td>
            {% else %}
                <td class="player-flag">
                    <img class="" src="https://ls.sportradar.com/ls/crest/big/{{ match['team_home']['cc']['a2'] }}.png" alt="">
                </td>
                <td class="player-name">{{ match['team_home']['name'] }} <span>{{ match['team_home']['cc']['ioc'] }}</span></td>
            {% end %}

            <td class="serve-indicator">{% if match['gs_who'] == '1' %}<span>&nbsp;</span>{% else %}
                <span style="display: none">&nbsp;</span>{% end %}</td>
            <td class="set1-result">{{ match['periods_p1']['home'] }}</td>
            <td class="set2-result">{{ match['periods_p2']['home'] }}</td>
            <td {% if not match['periods_p3'] %}style="display:none"{% end %} class="set3-result">
                {% if match['periods_p3'] %}{{ match['periods_p3']['home'] }}{% else %}0{% end %}</td>
            <td {% if not match['periods_p4'] %}style="display:none"{% end %} class="set4-result">
                {% if match['periods_p4'] %}{{ match['periods_p4']['home'] }}{% else %}0{% end %}</td>
            <td {% if not match['periods_p5'] %}style="display:none"{% end %} class="set5-result">
                {% if match['periods_p5'] %}{{ match['periods_p5']['home'] }}{% else %}0{% end %}</td>

            <td class="game-result">{% if match['gs_home'] == 50 %}AD{% else %}{{ match['gs_home'] }}{% end %}</td>
        </tr>

        <tr class="away-row">
            <td class="spacer1"></td>

            {% if match['team_away'].get('children') %}
                <td class="player-flag">
                {% for player in match['team_away'].get('children') %}
                        <img class="" src="https://ls.sportradar.com/ls/crest/big/{{ player['cc']['a2'] }}.png" alt="">
                {% end %}
                </td>
                <td class="player-name">
                {% for player in match['team_away'].get('children') %}
                    {{ player['name'] }} <span>{{ player['cc']['ioc'] }}</span><br>
                {% end %}
                </td>
            {% else %}
                <td class="player-flag">
                    <img class="" src="https://ls.sportradar.com/ls/crest/big/{{ match['team_away']['cc']['a2'] }}.png" alt="">
                </td>
                <td class="player-name">{{ match['team_away']['name'] }} <span>{{ match['team_away']['cc']['ioc'] }}</span></td>
            {% end %}


            <td class="set1-result">{{ match['periods_p1']['away'] }}</td>
            <td class="set2-result">{{ match['periods_p2']['away'] }}</td>
            <td {% if not match['periods_p3'] %}style="display:none"{% end %} class="set3-result">
                {% if match['periods_p3'] %}{{ match['periods_p3']['away'] }}{% else %}0{% end %}</td>
            <td {% if not match['periods_p4'] %}style="display:none"{% end %} class="set4-result">
                {% if match['periods_p4'] %}{{ match['periods_p4']['away'] }}{% else %}0{% end %}</td>
            <td {% if not match['periods_p5'] %}style="display:none" {% end %}class="set5-result">
                {% if match['periods_p5'] %}{{ match['periods_p5']['away'] }}{% else %}0{% end %}</td>

            <td class="game-result">{% if match['gs_away'] == 50 %}AD{% else %}{{ match['gs_away'] }}{% end %}</td>
        </tr>


        <tr class="match-info-row">
            <td class="match-type"></td>
            <td class="match-status"></td>
            <td class="match-event"></td>
            <td class="match-time" colspan="10"></td>
        </tr>

        </tbody>
    </table>

    <h2 style="display: none;" id="match_status">Match played</h2>

</div>


{#<div id="matchId" style="display: none">{{ match['match_id'] }}</div>#}

{% else %}
{#    <h1>ID корта не задан, перейдите в настройки</h1>#}
{% end %}

<div id="courtId" style="display: none">{{ court_id }}</div>
<div id="ws_url" style="display: none">{{ ws_url }}</div>
<div id="ws_port" style="display: none">{{ ws_port }}</div>

<div id="message" {% if match and screen_status == 'off' %}style="display: none;"{% end %}>
    <h2>{% raw screen_text %}</h2></div>

{% end %}
