﻿{% extends "layouts/l_scoreboard.html" %}

{% block html-head %}

    {% if color_status %}
{#        <link rel="stylesheet" href="/static/css/dark.css">#}
    {% else %}
{#        <link rel="stylesheet" href="/static/css/white.css">#}
    {% end %}

{% end %}

{% block content %}

{% if match %}

<div class="table-wrapper" {% if screen_status == 'on' %}style="display: none;"{% end %}>

    <table class="head-banners">
        <tr>
            <td class="head-logo">
                <div class="img_box">
                    <img src="/static/img/ITF_Bear.png" style="">
                </div>
            </td>
            <td class="head-text">
{#                <h3>{{ match['court_name'].upper() }}</h3>#}
                <h3>Centre Court</h3>
                <p>O1Properties Ladies Cup 2017</p>
            </td>
            <td class="head-timer">
                <div id="timer-block">0 : 0</div>
            </td>
        </tr>
    </table>

<!----------------------------------->
    <table class="n_table">
        <tr>

            <!-----   HOME   -------->
            <td class="n_home">
                <table class="n_t_home">
                    {% if match['team_home'].get('children') %}
                        <tr class="img-row"><td colspan="2">
                            {% if check_img(match['p1_id']) %}
                                <img src="/static/uploads/{{ match['p1_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                            {% if check_img(match['p3_id']) %}
                                <img src="/static/uploads/{{ match['p3_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                        </td></tr>

                        <td class="player-name">
                        {% for player in match['team_home'].get('children') %}
                            <img class="player-flag" src="https://ls.sportradar.com/ls/crest/big/{{ player['cc']['a2'] }}.png" alt="">
                            {{ player['name'] }} <span>{{ player['cc']['ioc'] }}</span><br>
                        {% end %}
                        </td>

                    {% else %}
                        <tr class="img-row"><td colspan="2">
                            {% if check_img(match['p1_id']) %}
                                <img src="/static/uploads/{{ match['p1_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                        </td></tr>
                        <tr>
                            <td class="player-name">
                                <img class="player-flag" src="https://ls.sportradar.com/ls/crest/big/{{ match['team_home']['cc']['a2'] }}.png">
                                {{ match['team_home']['name'] }}
                                {% if match['team_home'].get('seed') and match['team_home']['seed']['seeding'] != None %}
                                    <span>[{{ match['team_home']['seed']['seeding'] }}]</span>
                                {% end %}
                                <span>{{ match['team_home']['cc']['ioc'] }}</span>
                            </td>

                        </tr>
                    {% end %}

                </table>
            </td>

            <!-----   SCORE   -------->
            <td class="n_score">
                <table>
                    <tr>
                        <td ></td>
                        <td style="min-width:80px; width: 80px;">
                            <div style="height: 1px; width: 90px; min-width: 90px;"></div>
                        <td style="min-width:80px">
                            <div style="height: 1px; width: 90px; min-width: 90px;"></div>
                        <td></td>
                    </tr>
                    <tr class="n_res_p1">
                        <td class="set-name">1</td>
                        <td class="set1-result home" style="min-width:80px; width: 80px;">
                            {{ match['periods_p1']['home'] }}</td>
                        <td class="set1-result away" style="min-width:80px">
                            {{ match['periods_p1']['away'] }}</td>
                        <td></td>
                    </tr>
                    <tr class="n_res_p2">
                        <td class="set-name">2</td>
                        <td class="set2-result home">{{ match['periods_p2']['home'] }}</td>
                        <td class="set2-result away">{{ match['periods_p2']['away'] }}</td>
                        <td></td>
                    </tr>
                    <tr class="n_res_p3">
                        <td class="set-name">3</td>
                        <td class="set3-result home">{% if not match['periods_p3'] %}0{% else %}{{ match['periods_p3']['home'] }}{% end %}</td>
                        <td class="set3-result away">{% if not match['periods_p3'] %}0{% else %}{{ match['periods_p3']['away'] }}{% end %}</td>
                        <td></td>
                    </tr>
                    <tr class="n_res_score">
                        <td class="serve-indicator serve-indicator-home">{% if match['gs_who'] == '1' %}<span>&nbsp;</span>{% else %}
                            <span style="display: none">&nbsp;</span>{% end %}</td>
                        <td class="game-result home">
                            {% if match['gs_home'] == 50 %}AD{% else %}{{ match['gs_home'] }}{% end %}
                        </td>
                        <td class="game-result away">
                            {% if match['gs_away'] == 50 %}AD{% else %}{{ match['gs_away'] }}{% end %}
                        </td>
                        <td class="serve-indicator serve-indicator-away">
                            {% if match['gs_who'] == '2' %}<span>&nbsp;</span>
                            {% else %}<span style="display: none">&nbsp;</span>{% end %}
                        </td>
                    </tr>
                </table>
            </td>

            <!-----   AWAY   -------->
            <td class="n_away">
                <table class="m_t_away">
                    {% if match['team_away'].get('children') %}
                        <tr class="img-row"><td colspan="2">
                            {% if check_img(match['p2_id']) %}
                                <img src="/static/uploads/{{ match['p2_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                            {% if check_img(match['p4_id']) %}
                                <img src="/static/uploads/{{ match['p4_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                        </td></tr>
                        <td class="player-name">
                        {% for player in match['team_away'].get('children') %}
                            <img class="player-flag" src="https://ls.sportradar.com/ls/crest/big/{{ player['cc']['a2'] }}.png" alt="">
                            {{ player['name'] }} <span>{{ player['cc']['ioc'] }}</span><br>
                        {% end %}
                        </td>
                    {% else %}
                        <tr class="img-row"><td colspan="2">
                            {% if check_img(match['p2_id']) %}
                                <img src="/static/uploads/{{ match['p2_id'] }}.jpg">
                            {% else %}
                                <img src="/static/img/filler.jpg">
                            {% end %}
                        </td></tr>

                        <tr>
                            <td class="player-name">
                                <img class="player-flag" src="https://ls.sportradar.com/ls/crest/big/{{ match['team_away']['cc']['a2'] }}.png">
                                {{ match['team_away']['name'] }}
                                {% if match['team_away'].get('seed') and match['team_away']['seed']['seeding'] != None %}
                                    <span>[{{ match['team_away']['seed']['seeding'] }}]</span>
                                {% end %}
                                <span>{{ match['team_away']['cc']['ioc'] }}</span>
                            </td>
                        </tr>
                    {% end %}
                </table>
            </td>

        </tr>
    </table>

    <table class="footer-ban">
        <tr>
            <td>
                <img src="/static/img/AAO_eng.png" style="">
            </td><td>
                <img src="/static/img/01-properties-logo.png" style="">
            </td><td>
                <img src="/static/img/ONE_SGM.png" style="">
            </td><td>
                <img src="/static/img/Svargo.png" style="">
            </td>
        </tr>
    </table>

    <h2 style="display: none;" id="match_status">Match played</h2>

</div>


{#<div id="matchId" style="display: none">{{ match['match_id'] }}</div>#}

{% else %}
{#    <h1>ID корта не задан, перейдите в настройки</h1>#}
{% end %}

<div id="courtId" style="display: none">{{ court_id }}</div>
<div id="ws_url" style="display: none">{{ ws_url }}</div>
<div id="ws_port" style="display: none">{{ ws_port }}</div>

{% if match %}
<div id="time_played" style="display: none">{{ match['time_div'] }}</div>
<script>
    var timer = {
        h:'{{ match['time_div']['h'] }}',
        m:'{{ match['time_div']['m'] }}',
        s:'{{ match['time_div']['s'] }}'
    };
</script>
{% end %}

<div id="message" {% if match and screen_status == 'off' %}style="display: none;"{% end %}>
    <h2>{% raw screen_text %}</h2></div>


{% end %}
